[Unit]
Description=Run Low Battery Guard periodically

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=battery-guard.service

[Install]
WantedBy=timers.target
