[Unit]
Description=Low Battery Guard protection check
After=upower.service

[Service]
Type=oneshot
ExecStart=/home/frank/Projects/system-guard/src/battery-guard
WorkingDirectory=/home/frank/Projects/system-guard
