[Unit]
Description=Battery Guard battery protection check
After=upower.service

[Service]
Type=oneshot
ExecStart=/home/frank/Projects/battery-guard/src/battery-guard
WorkingDirectory=/home/frank/Projects/battery-guard